div{
    margin: 10px;
}

footer{
    background-color: blue;
    height: 397px;
}

h1, h2, h3, p, label, figcaption{
   color: yellow;
}

body{
    background-color: red;
    margin: 0px;
}

button{
    border-radius: 100px;
    background-color: yellow;
}

header{
    color: antiquewhite;
}

a{
    color: black;
}

.foto{
    width: 500px;
}