body{
    margin: 0px;
}

header{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid white;
}

.logo{
    height: 50px;
}

nav{
    display: flex;
    gap: 10px;
}

nav a{
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

nav a:hover{
    background-color: red;
}
